<slide>
<div class="ui segment heroconsul animated fadeInUp">
	<div class="ui two column divided grid">
	  <div class="row">
	    <div class="column">
	      <a class="item">
	        <img class="rounded ui image" src="/front/img/macbook-air-nelibox.png" width="560px" alt="NeliBox Clinic"/>
	      </a>
	    </div>
	    <div class="column">
	      <br>
	      <br>
	      <br>
	      <br>	
	      <h1><strong>Sistema de Gestion</strong></h1>
	      <h2>En la Nube, Moderno, Completo y Adaptable</h2>
	    </div>
	  </div>
	</div>
	<div class="row">
	<div class="ui center aligned three column grid">
	  <div class="row">
	    <div class="column">
	      <div class="ui vertical fluid">
	       {{#link-to 'farmacia' class='item'}}
	          <img class="top" src="/front/img/hero-devices-iphone-64-121.png" alt="NeliBox Mobile"/>
	        {{/link-to}}   
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	          {{#link-to 'consultas' class='herotext'}}
	          	<img class="top" src="/front/img/hero-devices-ipad-113-140.png" alt="NeliBox Consultas"/>
	          {{/link-to}}
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	        {{#link-to 'clinica' class='item'}}
	          <img class="top" src="/front/img/hero-devices-desktop-251-140.png" alt="NeliBox Citas Medicas"/>
	        {{/link-to}}
		  </div>	 
	    </div>
	  </div>
	</div>
	</div>
</div> 
</slide>