<slide>
	<div id="impress">
	    <div id="bored" class="step slide" data-x="-3000" data-y="-1500">
	        	<p class="text-center"><img src="/front/img/nelibox.png" height="90px" alt="NeliBox" align="middle"></p>
	        <br></br>
	        	<p class="text-center"> Conozca  <b>Cl&iacute;nicas</b>, Cobertura y prevenci&oacute;n de <b>Pacientes</b>, <b>M&eacute;dicos</b>,<b>Empresas</b> con Empleados sanos y <b>Seguros</b> Transparencia en Costos</p>
	    </div>
	    <div class="step slide" data-x="-2000" data-y="-1500">
	    	<img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
				<p class="text-center"><i>COMO ADMINISTRARSE CON MULTIPLES VARIABLES?</i></p>
	        <div class="row">
				<p class="text-center"><img src="/front/img/semaforo-frontal-nelibox.jpg" alt="NeliBox Decisiones Semaforo" align="middle"> </p>
			</div>
	    </div>
	    <div class="step slide" data-x="-1000" data-y="-1500" data-rotate="45" data-scale="1">
	        <img src="/front/img/nelibox.png" height="30px" alt="NeliBox" align="middle">
			<p class="text-center"><i>DECIDIENDO SIEMPRE EN LA ZONA AMARILLA ?</i></p>
			<p class="text-center"><img src="/front/img/semaforo-diagonal.jpg" alt="NeliBox Decisiones Acertadas" align="middle"> </p>	
	    </div>
	</div>
</slide>    
