<slide>
	<div class="ui celled grid">
	  <div class="row">
	    <div class="two wide column" style="">
	      <img class="top" src="/front/img/menu-farmacias-120.png" alt="NeliBox Farmacia"/>
	    </div>
	    <div class="eight wide column" style="">
	      <h1><strong>Nelibox Farmacias</strong></h1>
	      <h2>Producto identificados con C&oacute;digos de Barra</h2>
	    </div>
	    <div class="two wide column">
	      <img class="top" src="/front/img/farmacia-barcode-120.png" alt="NeliBox Codigo de Barra"/>
	    </div>
	  </div>
	  <div class="row">
	    <div class="twelve wide column">
	      <h1><strong>Lo Ayudamos a Organizarse!!!</strong></h1>
	      <h2>En la Nube, Moderno, Completo y Adaptable</h2>
	      <p class="herotext">	      
	      	<img class="top" src="/front/img/farmacia-she.jpg" alt="NeliBox Farmacia"/>
	      </p>
	    </div>
	  </div>
	</div>
</slide>
<slide>
	<div id="administre" class="ui grid stackable segment animated fadeInUp">
		<div class="item">
			<div class="content">
				<h1 class="herotext"><strong>Sistema de Farmacia Robusto</strong></h1>
				 <h2 class="herotext"><img class="top" src="/front/img/farmacia-pastillas.jpg" alt="Nelibox Farmacia"/></h2>
			</div>
		</div>
	</div>
	<div class="ui horizontal icon divider"><i class="circular checkmark sign icon"></i></div>
	
	<div class="ui three column grid">
  <div class="column">
  </div>
  <div class="column">
    <div class="ui segment">
      <div class="ui ordered list">
		  <div class="item">Multiples almacenes reales y virtuales</div>
		  <div class="item">Listado de productos con precios</div>
		  <div class="item">Productos por proveedor,, por categoria ambulatorio</div>
		  <div class="item">Alertas productos mimino</div>
		  <div class="item">Productos por hueco, estante, fila</div>
		  <div class="item">Reporte con posiciones configurables por parametros</div>
		  <div class="item">Existencia m&iacute;nima y m&aacute;xima</div>
		  <div class="item">Productos por dosis </div>
		  <div class="item">Ventas cl&iacute;nica, publico, entre otros configurables</div>
		</div>
    </div>
  </div>
  <div class="column">
  </div>
</div>
</slide>
<slide>
	<div id="administre" class="ui grid stackable segment animated fadeInUp">
		<div class="item">
			<div class="content">
				 <h1 class="herotext"><strong>Disponga de toda la Informacion de sus Productos</strong></h1>
				 <p class="herotext-sub">Nelibox Farmacias permite colocar mucha informaci&oacute;n de sus productos tales como Multiples Precios, Almacenes, Imagenes, Impuestos, Sub-Productos, Sustitutos y as&iacute; como consultar Inventarios, alertas de m&iacute;nimos y m&aacute;ximo</p>
			</div>
		</div>
	</div>
	<div class="ui horizontal icon divider"><i class="circular checkmark sign icon"></i></div>
	
	<div class="ui celled grid">
	  <div class="row">
	    <div class="one wide column" style="">
		      <div class="ui vertical fluid menu">
	
		        <div class="item">
		          <p class="herotext"><i class="big circular blue ambulance icon"></i></p>
		        </div>
		        <div class="item">
		          <p class="herotext"><i class="big circular blue barcode icon"></i></p>
		        </div>
		        <div class="item">
		          <p class="herotext"><i class="big circular blue pie browser icon"></i></p>
		        </div>	        
			   </div>
		 </div>
	    <div class="eleven wide column">
	      <p class="herotext"><img class="top" src="/front/img/farmacia-producto1.jpg" alt="Nelibox Farmacia"/></p>
	    </div>
	  </div>
    </div>
</slide>