<slide>
	<div class="ui segment herolab herocover animated fadeInUp">
		<div class="ui one column divided grid">   
		    <div class="three wide column">
		      <a class="item">
		        <img class="rounded ui image" src="/front/img/menu-lab-120.png" alt="NeliBox Laboratorios"/>
		      </a>
		    </div>
		    <div class="nine wide column">
		      <h1><strong>Laboratorios</strong></h1>
		      <h2>Facilitando el trabajo del Bionalistas con EL mejor sistema de gesti&oacute;n de Laboratorios</h2>
		    </div> 
		</div>
		<div class="ui statistic list">
			<div class="item">
				<div class="ui center aligned one column grid">
					<div class="row">
						<div class="column">
							<br>
							<br>
								<h1 class="herotext">Gerencie Multiples Servicios en un Solo Lugar</h1>
								<br>
								<img class="image" src="/front/img/clinic-all.png">
						</div>
						<br>
						<br>
						<!--<div class="circular inverted ui button">Efectuar Una Prueba Rapida</div>-->
					</div> 
				</div>  
			</div>
		</div>	
	</div> 
</slide>
<div class="ui clearing divider"></div>
<!-- Fin Hero 1  Administre y Controle con clase-->