<slide>
<div class="ui segment herorayosx animated fadeInUp">
	<div class="ui two column divided grid">
	  <div class="row">
	    <div class="column">
	      <a class="item">
	        <img class="rounded ui image" src="/front/img/menu-rayx-120.png" alt="NeliBox Rayos X Radiologia"/>
	      </a>
	    </div>
	    <div class="column">
	      <br>
	      <br>
	      <br>
	      <br>	
	      <h1><strong>Radiologia</strong></h1>
	      <h2>En la Nube, Moderno, Completo y Adaptable</h2>
	    </div>
	  </div>
	</div>
	<div class="row herowhite">
	<div class="ui center aligned six column grid">
	  <div class="row">
	    <div class="column">
	      <div class="ui vertical fluid">
	       {{#link-to 'rayosx' class='item'}}
	          <img class="top" src="/front/img/rayos-x1.png" alt="NeliBox Rayos X"/>
	        {{/link-to}}   
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	       {{#link-to 'rayosx' class='item'}}
	          <img class="top" src="/front/img/magic-wand-icon-160.png" alt="NeliBox Rayos X"/>
	          <p class="herotext">Rayos X</p>
	        {{/link-to}}   
	      </div>
	    </div>
	    <div class="column">
	      <div class="ui vertical fluid">
	       {{#link-to 'rayosx' class='item'}}
	          <img class="top" src="/front/img/rayos-x-report.jpg" alt="NeliBox Rayos X"/>
	        {{/link-to}}   
	      </div>
	    </div>	    
	  </div>
	</div>
	</div>
</div> 
</slide>
<div class="ui clearing divider"></div>
<!-- Fin Hero 1  Administre y Controle con clase-->